{% extends 'base.html' %}
{% block title %}Удалить статью{% endblock %}
{% block content %}
    <h1>Удаление статьи</h1>
    <h5>Вы уверены, что хотите удалить статью "{{ article.title }}"?</h5>
    <form action="{% url 'del_article' article.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn, btn-primary">Удалить</button>
    </form>
        <a href="{% url 'view' article.pk %}"><button type="submit" class="btn, btn-primary">Отмена</button></a>
{% endblock %}
